.c-companies-form {
    margin: 50px auto;
    max-width: 500px;
    background-color: lightblue;
    padding: 30px;
    font-size: 20px;
    color:blue;
    border-radius: 10px;
}


.i-input-company {
    height:30px;
    border-radius:8px;
    font-size:15pt;
    width: 60%;
}

.i-textarea-company {
    height:80px;
    border-radius:8px;
    font-size:15pt;
    width: 60%;
  }

.button-company {
    background: rgba(255, 255, 255, 0.952);
    font-weight: bold;
    width:60%;
    color:black;
    border:none;
    height:40px;
    font-size:15pt;
    border-radius:10px;
    cursor:pointer;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button-company:disabled {
    opacity: 0.4;
  }
